.header{
    width: 100%;
    height: 10vh;
    background-color: white;
}

.nav-link {
    position: relative;
    text-decoration: none; /* Rimuove la sottolineatura di default */
    color: black;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: 1.3rem; 
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px; /* Distanza della sottolineatura dal testo */
    width: 0;
    height: 2px; 
    background-color: red;
    bottom: -10px; 
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: red; /* Cambia colore al passaggio del mouse */
    transform: scale(1.2)  ; /* Ingrandisce leggermente */
  }
  
  .nav-link:hover::after {
    width: 100%;
    left: 0;
  }


/* card del prodotto --------------------- */
.product-card {
    width: 320px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}

.product-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-description {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

.product-model {
    font-size: 1em;
    color: #333;
}

.product-price {
    font-size: 1.2em;
    margin: 10px 0;
}

.original-price {
    text-decoration: line-through;
    color: red;
    margin-right: 8px;
}

.discount-price {
    color: green;
    font-weight: bold;
}

.buy-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.buy-button:hover {
    background-color: #0056b3;
}
