.product-card {
    width: 320px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}

.product-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-description {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

.product-model {
    font-size: 1em;
    color: #333;
}

.product-price {
    font-size: 1.2em;
    margin: 10px 0;
}

.original-price {
    text-decoration: line-through;
    color: red;
    margin-right: 8px;
}

.discount-price {
    color: green;
    font-weight: bold;
}

.buy-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.buy-button:hover {
    background-color: #0056b3;
}



/* prova  */

.hero-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.hero-slider {
    position: relative;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* .navigation-arrows {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
} */

.arrow-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.arrow-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.arrow-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
}

/* fine prova  */